#login-screen, #main-chat-screen {
  padding-top: 10px;
}
.main {
  padding-top: 10px;
  text-align: center;
  background-color: #39CCCC;
  color: #000;
}
.main #login-screen{
   padding-left: 40px;
   padding-top: 60px;
   color: #8B0000;
  -webkit-align-content: center;
    align-content: center;
}
#conversation {
  font-size: 18px;
  margin: 0px;
  height: 300px;
  background: #DDDDDD;
  overflow: scroll;
}
.final {
  font-color: #000;
}
.interim {
  font-color: #f00;
}
